.max_parallax--widget_title,
.max_floatingdiv--widget_title,
.max_parallax--body_content,
.max_floatingdiv--body_content{
	color: #fff;
}
.max_parallax--bg{
	height: 300px;
	padding: 10px;
	background-position: center;	
}
.max_floatingdiv--bg{
	position: relative;
	height: 300px;
	padding: 10px;
	top: -5em;
	box-shadow: 5px 10px 10px #ccc;
	border-style: solid;
    border-width: 1px;
}
